utils/cloud/maven.consumer.hono/target/
utils/cloud/maven.consumer.hono/.settings/
utils/cloud/maven.consumer.hono/.vertx/
utils/cloud/maven.consumer.hono/.classpath
utils/cloud/maven.consumer.hono/.project
